/** BODY **/
body {
	background-image: url("http://www1.preloaders.net/preloaders/781/Spinning%20hamburger.gif");
	background-repeat: no;
	margin: 0;
}

/** SITE WRAPPER **/
.wrapper {
	margin: 0 auto;
	width: 80%;
}

/** SITE HEADER **/
.header {
	background-color: #fea309;
	padding: 0px;
}

.header .logo {
	display: inline-block;
	font-size: 48px;
	padding: 15px 50px 0px;
	font-family: fantasy;


}

/** SITE NAVIGATION **/
.navigation {
	background-color: rgb(233, 150, 9);
}

.navigation  ul {
	margin: 0;
	padding-left: 10;
}

.navigation  li {
	display: inline-block;
	padding: 10px 25px;
}

.navigation  a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-family: arial;
	font-weight: none;
	font-family: palatino;
}

.navigation a:hover {
	color: pink;
	font-family: arial;
}



/** MAIN DIV **/
.main {
	background-color: #fcdaed;
	float: left;
	height: 600px;
	width:70%;
}

.main h1 {
	padding-left: 35px;
	font-family: sans-serif;
}

.main p {
	padding: 5px 35px;
}

/** SIDEBAR DIV **/
.sidebar {
	background-color: rgb(247, 255, 91);
	float: left;
	height: 600px;
	width:30%;
}

.sidebar h2 {
	padding-left:20px;
	font-family: cursive;
	font-size: 22pt;
}

/** SITE FOOTER **/
.footer {
	clear: both;
	background-color: rgb(241, 87, 87);
	font-size: 16px;
	padding: 9px 0;
}

.footer p {
	margin: 0;
	color: #FFFFFF;
	padding-left: 35px;
	font-family: monospace;
}
